@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    color: black ;
    margin: 10px;
}

section#info {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

nav {
    background-color: rgb(117, 117, 117);
    padding: 2px;
    box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.253);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 30px 5px 30px;
    box-shadow: 3px 4px 6px 0px rgb(0, 0, 0);
}

article {
    background-color: lightgray;
    padding: 10px;
}

article > aside {
    background-color: rgb(163, 163, 163);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

/*
div#bola {
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: darkred;
    border-radius: 50%;
}
/*