@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2E18D,#F2D750);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(128, 122, 91, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto; /* Centralizar */
}

h1 {
    color:#A4A5A6;
    text-align: center;
    text-shadow: 1px 1px 2px black rgba(101, 102, 104, 0.678);
}

h2 {
    color:#BFA524 ;
}

p {
    text-align: justify;
}